/* Tablet Screens (768px to 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  h1{
    font-size: 36px;
  }
}

/* Mobile Screens (576px to 767px) */
@media (max-width: 767px) and (min-width: 576px) {
  h1{
    font-size: 34px;
  }
}

/* Small Mobile Screens (up to 575px) */
@media (max-width: 575px) {
  h1{
    font-size: 26px;
  }
}
